<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Ingreso
            </div>
            <img src="/img/logo.jpg" class="rounded-circle mx-auto d-block m-4 logo">
            <div class="card-body">
                   <form action="/signin" method="post">
                        
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" placeholder="correo">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="pass" placeholder="contraseña">
                        </div>
                        
                        <button class="btn btn-primary btn-block">
                            Ingresar
                        </button>
                   </form> 
            </div>
        </div>
    </div>
</div>